<div class="posts">
<% @posts.each do |post| %>
<section class="post">
  <div class="user">
    <div class="avatar">
      <img src="user_avatar.jpg">
    </div>
    <div class="email">
      <%= post.user.email %>
    </div>
  </div>
  <%= image_tag post.image, class: 'main-image' %>
  <div class="description">
    <%= post.body %>
  </div>
  </section>
  <% end %>
  </div>
